<% @db_list.each do |db_name| %>
	<%= link_to db_name, "/#{db_name}/metadatas" %>
<% end %>
<%= link_to 'all', all_metadatas_path %>

<% if params['db_name'] == 'all' %>
	<%= link_to 'refresh', all_metadatas_refresh_path %>
<% else %>
	<%= link_to 'refresh', "/#{params['db_name']}/metadatas/refresh" %>
<% end %>


<table>
	<thead>
		<tr>
			<th>Database</th>
			<th>Table</th>
			<th class="col-numeric">Record Count</th>
			<th class="col-numeric">Size</th>
			<th class="col-numeric">Size</th>
			<th>As Of</th>
		</tr>
	</thead>
	<tbody>
		<% @metadatas.each do |metadata| %>
			<tr>
				<td>
					<%= "#{metadata.db}" %>
				</td>
				<td>
					<%= "#{metadata.name}" %>
				</td>
				<td class="col-numeric">
					<%= "#{number_with_delimiter(metadata.record_count)}" %>
				</td>
				<td class="col-numeric">
					<%= "#{number_to_human_size(metadata.size_bytes)}" %>
				</td>
				<td class="col-numeric">
					<%= "#{number_with_delimiter(metadata.size_bytes)}" %>
				</td>
				<td>
					<%= "#{metadata.updated_at}" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
