<% @databases.each do |database|%>
  <% if database.id == @database.id  %>
    <strong><%= database.name %></strong>
  <% else %>
    <%= link_to database.name, database_metadatas_path(database) %>
  <% end %>
<% end %>

<em><%= link_to "reload stats", refresh_database_metadatas_path(@database) %></em>

<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>Database</th>
			<th>Table</th>
			<th class="col-numeric">Record Count</th>
			<th class="col-numeric">Size</th>
			<th class="col-numeric">Size</th>
			<th>As Of</th>
		</tr>
	</thead>
	<tbody>
		<% @metadatas.each do |metadata| %>
			<tr>
				<td>
					<%= "#{metadata.database.name}" %>
				</td>
				<td>
					<%= "#{metadata.name}" %>
				</td>
				<td class="col-numeric">
					<%= "#{number_with_delimiter(metadata.record_count)}" %>
				</td>
				<td class="col-numeric">
					<%= "#{number_to_human_size(metadata.size_bytes)}" %>
				</td>
				<td class="col-numeric">
					<%= "#{number_with_delimiter(metadata.size_bytes)}" %>
				</td>
				<td>
					<%= "#{metadata.updated_at}" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
