
<% if resultset && !query.pg_exception_class %>
  <table class="resultset table table-bordered table-striped table-condensed">
    <thead>
        <%= render partial: 'resultset_header', locals: {resultset: resultset, row_class: ''} %>
    </thead>
    <tbody>
      <%# TODO: refactor as header is array of objects {table name: , column name: , data type: } %>
      <%# TODO: refactor detail as array of hashes {column} array of objects {table name: , column name: , data type: } %>
      <%# TODO: [ {column: value, column: value} %>
      <% resultset['detail'].each_with_index do | detail, j| %>
        <tr>
          <% i = 0 %>
          <td class="column-row-number"><%= j+1 %></td>
          <% detail.each do |k,v| %>
            <td><%= render_value(v, resultset['header'][i]['data_type']) %></td>
            <% i = i + 1 %>
          <% end %>
        </tr>
      <% end %>
      <%= render partial: 'resultset_header', locals: {resultset: resultset, row_class: 'placeheader'} %>
    </tbody>
  </table>
<% elsif query.pg_exception_class %>
  <div class="alert alert-danger">
    <p></p>
    <p><strong><%= query.pg_exception_class %></strong></p>
    <p><%= query.pg_exception %></p>
  </div>
<% end %>
