
<% if resultset %>

  <table class="resultset">
    <thead>
      <tr>
        <% resultset['header'].each do | table | %>
          <th><%= table['table_name'] %></th>
        <% end %>
      </tr>
      <tr>
        <% resultset['header'].each do | table | %>
          <th><%= table['column_name'] %></th>
        <% end %>
      </tr>
      <tr>
        <% resultset['header'].each do | table | %>
          <th><%= table['data_type'] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%# TODO: refactor as header is array of objects {table name: , column name: , data type: } %>
      <%# TODO: refactor detail as array of hashes {column} array of objects {table name: , column name: , data type: } %>
      <%# TODO: [ {column: value, column: value} %>
      <% resultset['detail'].each do | det | %>
        <tr>
          <% det.each do |k,v| %>
            <td><%= v %></td>
          <% end %>
        </tr>
      <% end %>
      <tr class="placeheader">
        <% resultset['header'].each do | table | %>
          <th><%= table['table_name'] %></th>
        <% end %>
      </tr>
      <tr class="placeheader">
        <% resultset['header'].each do | table | %>
          <th><%= table['column_name'] %></th>
        <% end %>
      </tr>
      <tr class="placeheader">
        <% resultset['header'].each do | table | %>
          <th><%= table['data_type'] %></th>
        <% end %>
      </tr>
    </tbody>
  </table>

<% end %>
