
<% if resultset %>

  <table class="resultset">
    <thead>
      <tr>
        <% resultset['header'].each do | column | %>
          <th><%= column['column_name'] %></th>
        <% end %>
      </tr>
      <tr>
        <% resultset['header'].each do | column | %>
          <th><%= column['column_name'] %></th>
        <% end %>
      </tr>
      <tr>
        <% resultset['header'].each do | column | %>
          <th><%= column['data_type'] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%# TODO: refactor as header is array of objects {table name: , column name: , data type: } %>
      <%# TODO: refactor detail as array of hashes {column} array of objects {table name: , column name: , data type: } %>
      <%# TODO: [ {column: value, column: value} %>
      <% resultset['detail'].each do | detail | %>
        <tr>
          <% i = 0 %>
          <% detail.each do |k,v| %>
            <td><%= render_value(v, resultset['header'][i]['data_type']) %></td>
            <% i = i + 1 %>
          <% end %>
        </tr>
      <% end %>
      <tr class="placeheader">
        <% resultset['header'].each do | column | %>
          <th><%= column['column_name'] %></th>
        <% end %>
      </tr>
      <tr class="placeheader">
        <% resultset['header'].each do | column | %>
          <th><%= column['column_name'] %></th>
        <% end %>
      </tr>
      <tr class="placeheader">
        <% resultset['header'].each do | column | %>
          <th><%= column['data_type'] %></th>
        <% end %>
      </tr>
    </tbody>
  </table>

<% end %>
