
<%= render partial: 'databases/list', locals: { databases: @databases, id: @database.id } %>

<em>&nbsp;&nbsp;&nbsp;<%= link_to "new query", new_database_query_path(@database) %></em>

<table class="query-index">
	<thead>
		<tr>
			<th>ID</th>
			<th>Execution Time</th>
			<th>Duration</th>
			<th>Resultset<br>Record<br>Count</th>
			<th>SQL</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		<% @queries.each do |query| %>
			<tr>
				<td>
						<%= link_to query.id, database_query_path(@database, query) %>
				</td>
				<td>
						<%= "#{query.created_at.to_formatted_s(:db)}" %>
				</td>
				<td>
					<%= "#{number_with_precision(query.duration_ms.to_f / 1000, precision: 3, delimiter: ',')}" %>
				</td>
				<td>
					<%= "#{number_with_delimiter(query.record_count)}" %>
				</td>
				<td>
					<span class="query-sql-text">
						<%= simple_format(query.sql_text) %>
					</span>
				</td>
				<td>
					<%= form_for query, url: database_query_path(@database, query), remote: true do |f| %>
				    <%= f.text_area :notes, rows: 5, autocomplete: 'off' %>
				    <%= f.submit 'save' %>
				  <% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
