
<%= render partial: 'databases/list', locals: { databases: @databases, id: @database.id, sibling_path: "database_queries_path" } %>

<!-- TODO: replace by shrinking SQL, not hiding altogether... -->
<!-- TODO: for shrunken SQL, give option to expand queries one by one -->
<!-- TODO: ... and mouseover preview in modal -->
<em>&nbsp;&nbsp;&nbsp;<%= link_to "toggle SQL", "#", id: "toggle-query-index-compact" %></em>
<em>&nbsp;&nbsp;&nbsp;<%= link_to "new query", new_database_query_path(@database) %></em>

<table class="query-index table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Execution Time</th>
			<th>Duration</th>
			<th>Resultset<br>Record<br>Count</th>
			<th>SQL</th>
			<th>Notes</th>
		</tr>
	</thead>
  <tfoot>
    <tr>
      <th>ID</th>
      <th>Execution Time</th>
      <th>Duration</th>
      <th>Resultset<br>Record<br>Count</th>
      <th>SQL</th>
      <th>Notes</th>
    </tr>
  </tfoot>
	<tbody>
		<% @queries.each do |query| %>
			<tr>
				<td>
						<%= link_to query.id, database_query_path(@database, query) %>
				</td>
				<td>
						<%= "#{query.created_at.to_formatted_s(:db)}" %>
				</td>
        <% if query.pg_exception_class %>
          <td colspan="2" class="alert alert-danger" >
            <%= query.pg_exception_class %>
            <%# TODO show as modal = query.pg_exception %>
          </td>
        <% else %>
  				<td>
  					<%= "#{number_with_precision(query.duration_ms.to_f / 1000, precision: 3, delimiter: ',')}" %>
  				</td>
  				<td>
  					<%= "#{number_with_delimiter(query.record_count)}" %>
  				</td>
        <% end %>
				<td>
					<span class="query-read-only-sql-text">
						<%= simple_format(query.sql_text) %>
					</span>
				</td>
				<td>
					<%= render partial: 'notes', locals: { database: @database, query: query } %>
				</td>
			</tr>
		<% end %>
	</tbody>
  <t
</table>
