<table>
	<% @queries.each do |query| %>
		<tr>
			<td>
					<%= link_to query.id, "/#{@db_name}/queries/#{query.id}" %>
			</td>
			<td>
					<%= "#{query.created_at}" %>
			</td>
			<td>
				<span class="query-sql-text">
					<%= simple_format(query.sql_text) %>
				</span>
			<td>
				<%= "#{number_with_delimiter(query.record_count)}" %>
			</td>
			<td>
				<%= "#{number_with_precision(query.duration_ms.to_f / 1000, precision: 3, delimiter: ',')}" %>
			</td>
		</tr>
	<% end %>
</table>
